n8n-workflows/boas-vindas-lead.json
{
  "id": "wEQaaMyFdumbc94E",
  "name": "Boas-vindas — Lead JPX Digital",
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        300
      ],
      "webhookId": "jpx-lead-boas-vindas",
      "parameters": {
        "path": "jpx-lead",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "typeVersion": 2
    },
    {
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Montar E-mail",
      "type": "n8n-nodes-base.code",
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst name = (body.name || '').trim();\nconst firstName = name.split(' ')[0] || 'Cliente';\nconst interest = (body.interest || '').trim();\n\n// Bloco de assunto do contato\nlet interestBlock = '';\nif (interest) {\n  interestBlock = `\n    <tr><td style=\"padding:0 0 28px;\">\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n        <tr>\n          <td style=\"background:#F0F6FF;border-left:3px solid #0078D4;padding:14px 18px;border-radius:0 6px 6px 0;\">\n            <p style=\"margin:0 0 3px;color:#0078D4;font-size:10px;font-weight:700;text-transform:uppercase;letter-spacing:1.5px;\">Assunto do contato</p>\n            <p style=\"margin:0;color:#1A1A2E;font-size:14px;font-weight:600;\">${interest}</p>\n          </td>\n        </tr>\n      </table>\n    </td></tr>`;\n}\n\nconst html = `<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin:0;padding:0;background:#F4F5F7;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;\">\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F4F5F7;padding:40px 16px;\">\n<tr><td align=\"center\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;\">\n\n\n  <!-- CABEÇALHO — faixa azul com logo nas cores do site -->\n  <tr><td style=\"background:#0A2463;border-radius:12px 12px 0 0;padding:28px 40px;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n      <tr>\n        <td>\n          <p style=\"margin:0 0 6px;font-size:24px;font-weight:700;letter-spacing:-0.3px;line-height:1;\">\n            <span style=\"color:#FFFFFF;\">JPX</span><span style=\"color:#4DB8FF;\"> Digital</span>\n          </p>\n          <p style=\"margin:0;font-size:10px;color:rgba(255,255,255,0.88);font-weight:400;letter-spacing:1px;text-transform:uppercase;\">Infraestrutura Crítica · Cloud · Resiliência · Continuidade Operacional</p>\n        </td>\n      </tr>\n    </table>\n  </td></tr>\n\n  <!-- CORPO PRINCIPAL -->\n  <tr><td style=\"background:#FFFFFF;border:1px solid #E4E6EA;border-top:none;border-bottom:none;padding:40px 40px 0;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n\n      <!-- Saudação -->\n      <tr><td style=\"padding:0 0 20px;\">\n        <h1 style=\"margin:0;font-size:20px;font-weight:700;color:#1A1A2E;\">Olá, ${firstName}.</h1>\n      </td></tr>\n\n      <!-- Corpo -->\n      <tr><td style=\"padding:0 0 20px;\">\n        <p style=\"margin:0 0 14px;font-size:14px;color:#374151;line-height:1.75;\">\n          Recebemos o seu contato e agradecemos o interesse na <strong><span style=\"color:#0A2463;\">JPX</span><span style=\"color:#0078D4;\"> Digital</span></strong>.\n        </p>\n        <p style=\"margin:0;font-size:14px;color:#374151;line-height:1.75;\">\n          Um especialista vai analisar a sua solicitação e retornar em até <strong style=\"color:#0078D4;\">1 dia útil</strong> com as próximas orientações.\n        </p>\n      </td></tr>\n\n      <!-- Interesse (se houver) -->\n      ${interestBlock}\n\n      <!-- Divisor -->\n      <tr><td style=\"padding:0 0 28px;\">\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n          <tr><td style=\"border-top:1px solid #E4E6EA;\"></td></tr>\n        </table>\n      </td></tr>\n\n      <!-- Próximos passos -->\n      <tr><td style=\"padding:0 0 8px;\">\n        <p style=\"margin:0;font-size:11px;font-weight:700;color:#6B7280;text-transform:uppercase;letter-spacing:1.5px;\">Próximos passos</p>\n      </td></tr>\n      <tr><td style=\"padding:0 0 28px;\">\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n          <tr>\n            <td width=\"28\" valign=\"top\" style=\"padding-top:2px;\">\n              <div style=\"width:20px;height:20px;background:#EBF3FC;border-radius:50%;text-align:center;line-height:20px;font-size:11px;font-weight:700;color:#0078D4;\">1</div>\n            </td>\n            <td style=\"padding-left:10px;padding-bottom:12px;\">\n              <p style=\"margin:0;font-size:13px;color:#374151;line-height:1.6;\">Nossa equipe analisa o seu perfil e a natureza da solicitação.</p>\n            </td>\n          </tr>\n          <tr>\n            <td width=\"28\" valign=\"top\" style=\"padding-top:2px;\">\n              <div style=\"width:20px;height:20px;background:#EBF3FC;border-radius:50%;text-align:center;line-height:20px;font-size:11px;font-weight:700;color:#0078D4;\">2</div>\n            </td>\n            <td style=\"padding-left:10px;padding-bottom:12px;\">\n              <p style=\"margin:0;font-size:13px;color:#374151;line-height:1.6;\">Entramos em contato para uma conversa inicial de 20 minutos sem compromisso.</p>\n            </td>\n          </tr>\n          <tr>\n            <td width=\"28\" valign=\"top\" style=\"padding-top:2px;\">\n              <div style=\"width:20px;height:20px;background:#EBF3FC;border-radius:50%;text-align:center;line-height:20px;font-size:11px;font-weight:700;color:#0078D4;\">3</div>\n            </td>\n            <td style=\"padding-left:10px;\">\n              <p style=\"margin:0;font-size:13px;color:#374151;line-height:1.6;\">Se houver aderência, apresentamos uma proposta estruturada com escopo e entregáveis.</p>\n            </td>\n          </tr>\n        </table>\n      </td></tr>\n\n      <!-- Divisor -->\n      <tr><td style=\"padding:0 0 28px;\">\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n          <tr><td style=\"border-top:1px solid #E4E6EA;\"></td></tr>\n        </table>\n      </td></tr>\n\n      <!-- Status do atendimento -->\n      <tr><td style=\"padding:0 0 8px;\">\n        <p style=\"margin:0;font-size:11px;font-weight:700;color:#6B7280;text-transform:uppercase;letter-spacing:1.5px;\">Status do atendimento</p>\n      </td></tr>\n      <tr><td style=\"padding:0 0 28px;\">\n        <table cellpadding=\"0\" cellspacing=\"0\">\n          <tr>\n            <td style=\"padding:5px 0;\">\n              <span style=\"display:inline-block;width:10px;height:10px;background:#0078D4;border-radius:50%;vertical-align:middle;margin-right:8px;\"></span>\n              <span style=\"font-size:13px;font-weight:600;color:#0078D4;\">Solicitação recebida</span>\n            </td>\n          </tr>\n          <tr>\n            <td style=\"padding:5px 0;\">\n              <span style=\"display:inline-block;width:10px;height:10px;background:#0078D4;border-radius:50%;vertical-align:middle;margin-right:8px;\"></span>\n              <span style=\"font-size:13px;font-weight:600;color:#0078D4;\">Em análise</span>\n            </td>\n          </tr>\n          <tr>\n            <td style=\"padding:5px 0;\">\n              <span style=\"display:inline-block;width:10px;height:10px;background:#E4E6EA;border-radius:50%;border:2px solid #D1D5DB;vertical-align:middle;margin-right:8px;box-sizing:border-box;\"></span>\n              <span style=\"font-size:13px;color:#9CA3AF;\">Discovery</span>\n            </td>\n          </tr>\n          <tr>\n            <td style=\"padding:5px 0;\">\n              <span style=\"display:inline-block;width:10px;height:10px;background:#E4E6EA;border-radius:50%;border:2px solid #D1D5DB;vertical-align:middle;margin-right:8px;box-sizing:border-box;\"></span>\n              <span style=\"font-size:13px;color:#9CA3AF;\">Assessment</span>\n            </td>\n          </tr>\n          <tr>\n            <td style=\"padding:5px 0;\">\n              <span style=\"display:inline-block;width:10px;height:10px;background:#E4E6EA;border-radius:50%;border:2px solid #D1D5DB;vertical-align:middle;margin-right:8px;box-sizing:border-box;\"></span>\n              <span style=\"font-size:13px;color:#9CA3AF;\">Proposta</span>\n            </td>\n          </tr>\n          <tr>\n            <td style=\"padding:5px 0;\">\n              <span style=\"display:inline-block;width:10px;height:10px;background:#E4E6EA;border-radius:50%;border:2px solid #D1D5DB;vertical-align:middle;margin-right:8px;box-sizing:border-box;\"></span>\n              <span style=\"font-size:13px;color:#9CA3AF;\">Projeto</span>\n            </td>\n          </tr>\n        </table>\n      </td></tr>\n\n      <!-- Divisor -->\n      <tr><td style=\"padding:0 0 28px;\">\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n          <tr><td style=\"border-top:1px solid #E4E6EA;\"></td></tr>\n        </table>\n      </td></tr>\n\n      <!-- O que esperar -->\n      <tr><td style=\"padding:0 0 8px;\">\n        <p style=\"margin:0;font-size:11px;font-weight:700;color:#6B7280;text-transform:uppercase;letter-spacing:1.5px;\">O que esperar da JPX</p>\n      </td></tr>\n      <tr><td style=\"padding:0 0 28px;\">\n        <table cellpadding=\"0\" cellspacing=\"0\">\n          <tr><td style=\"padding:4px 0;\">\n            <span style=\"color:#0078D4;font-weight:700;margin-right:8px;font-size:13px;\">✓</span>\n            <span style=\"font-size:13px;color:#374151;\">Comunicação clara e objetiva em todas as etapas</span>\n          </td></tr>\n          <tr><td style=\"padding:4px 0;\">\n            <span style=\"color:#0078D4;font-weight:700;margin-right:8px;font-size:13px;\">✓</span>\n            <span style=\"font-size:13px;color:#374151;\">Processos documentados e rastreáveis</span>\n          </td></tr>\n          <tr><td style=\"padding:4px 0;\">\n            <span style=\"color:#0078D4;font-weight:700;margin-right:8px;font-size:13px;\">✓</span>\n            <span style=\"font-size:13px;color:#374151;\">Especialistas com experiência operacional real</span>\n          </td></tr>\n          <tr><td style=\"padding:4px 0;\">\n            <span style=\"color:#0078D4;font-weight:700;margin-right:8px;font-size:13px;\">✓</span>\n            <span style=\"font-size:13px;color:#374151;\">Relatórios executivos com linguagem de negócio</span>\n          </td></tr>\n          <tr><td style=\"padding:4px 0;\">\n            <span style=\"color:#0078D4;font-weight:700;margin-right:8px;font-size:13px;\">✓</span>\n            <span style=\"font-size:13px;color:#374151;\">Independência de fornecedor — recomendamos o que é certo, não o que tem melhor margem</span>\n          </td></tr>\n        </table>\n      </td></tr>\n\n      <!-- Divisor -->\n      <tr><td style=\"padding:0 0 28px;\">\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n          <tr><td style=\"border-top:1px solid #E4E6EA;\"></td></tr>\n        </table>\n      </td></tr>\n\n      <!-- CTA -->\n      <tr><td style=\"padding:0 0 40px;\">\n        <p style=\"margin:0 0 16px;font-size:13px;color:#6B7280;\">Prefere agilizar? Entre em contato diretamente:</p>\n        <table cellpadding=\"0\" cellspacing=\"0\">\n          <tr>\n            <td style=\"background:#0078D4;border-radius:6px;\">\n              <a href=\"https://wa.me/5518930852246\" target=\"_blank\"\n                style=\"display:inline-block;padding:11px 24px;color:#FFFFFF;font-size:13px;font-weight:600;text-decoration:none;letter-spacing:0.2px;\">\n                Falar no WhatsApp\n              </a>\n            </td>\n            <td width=\"12\"></td>\n            <td style=\"border:1px solid #D1D5DB;border-radius:6px;\">\n              <a href=\"mailto:comercial@jpxdigital.com.br\"\n                style=\"display:inline-block;padding:11px 24px;color:#374151;font-size:13px;font-weight:600;text-decoration:none;letter-spacing:0.2px;\">\n                Enviar e-mail\n              </a>\n            </td>\n          </tr>\n        </table>\n      </td></tr>\n\n    </table>\n  </td></tr>\n\n  <!-- SOBRE A JPX -->\n  <tr><td style=\"background:#F8F9FA;border:1px solid #E4E6EA;border-top:none;border-bottom:none;padding:28px 40px;\">\n    <p style=\"margin:0 0 8px;font-size:11px;font-weight:700;color:#6B7280;text-transform:uppercase;letter-spacing:1.5px;\">Sobre a JPX Digital</p>\n    <p style=\"margin:0;font-size:13px;color:#374151;line-height:1.75;\">\n      A JPX Digital é uma consultoria independente especializada em infraestrutura crítica, cloud computing, resiliência cibernética e continuidade operacional. Atuamos com empresas de médio porte que dependem da disponibilidade da tecnologia para manter suas operações, entregando diagnósticos executivos, projetos de modernização e operação assistida com processos padronizados e foco em resultados de negócio.\n    </p>\n  </td></tr>\n\n  <!-- MISSÃO -->\n  <tr><td style=\"background:#0078D4;padding:20px 40px;border-left:1px solid #0067B8;border-right:1px solid #0067B8;\">\n    <p style=\"margin:0;font-size:13px;color:rgba(255,255,255,0.92);line-height:1.7;font-style:italic;\">\n      \"Nossa missão é reduzir riscos operacionais através de tecnologia aplicada ao negócio — com diagnóstico independente, documentação em todas as entregas e segurança por padrão.\"\n    </p>\n  </td></tr>\n\n  <!-- NOSSOS PRINCÍPIOS -->\n  <tr><td style=\"background:#1A1A2E;padding:20px 40px;border-left:1px solid #252540;border-right:1px solid #252540;\">\n    <p style=\"margin:0 0 10px;font-size:10px;font-weight:700;color:rgba(255,255,255,0.4);text-transform:uppercase;letter-spacing:1.5px;\">Nossos princípios</p>\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n      <tr>\n        <td style=\"padding-right:8px;padding-bottom:4px;\">\n          <span style=\"font-size:12px;color:rgba(255,255,255,0.6);\">· Diagnóstico antes da solução</span>\n        </td>\n        <td style=\"padding-right:8px;padding-bottom:4px;\">\n          <span style=\"font-size:12px;color:rgba(255,255,255,0.6);\">· Documentação em todas as entregas</span>\n        </td>\n      </tr>\n      <tr>\n        <td style=\"padding-right:8px;padding-bottom:4px;\">\n          <span style=\"font-size:12px;color:rgba(255,255,255,0.6);\">· Segurança por padrão</span>\n        </td>\n        <td style=\"padding-right:8px;padding-bottom:4px;\">\n          <span style=\"font-size:12px;color:rgba(255,255,255,0.6);\">· Automação sempre que possível</span>\n        </td>\n      </tr>\n      <tr>\n        <td colspan=\"2\">\n          <span style=\"font-size:12px;color:rgba(255,255,255,0.6);\">· Transparência técnica e executiva</span>\n        </td>\n      </tr>\n    </table>\n  </td></tr>\n\n  <!-- RODAPÉ -->\n  <tr><td style=\"background:#FFFFFF;border-radius:0 0 12px 12px;border:1px solid #E4E6EA;border-top:none;padding:24px 40px;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n      <tr>\n        <td style=\"text-align:center;padding-bottom:10px;\">\n          <a href=\"tel:+5518930852246\" style=\"font-size:12px;color:#6B7280;text-decoration:none;margin:0 8px;\">+55 18 93085-2246</a>\n          <span style=\"color:#D1D5DB;\">|</span>\n          <a href=\"https://jpxdigital.com.br\" style=\"font-size:12px;color:#6B7280;text-decoration:none;margin:0 8px;\">jpxdigital.com.br</a>\n          <span style=\"color:#D1D5DB;\">|</span>\n          <a href=\"mailto:comercial@jpxdigital.com.br\" style=\"font-size:12px;color:#6B7280;text-decoration:none;margin:0 8px;\">comercial@jpxdigital.com.br</a>\n        </td>\n      </tr>\n      <tr>\n        <td style=\"text-align:center;padding-bottom:8px;\">\n          <span style=\"font-size:11px;color:#9CA3AF;\">Atendimento de segunda a sexta, das 8h às 18h (horário de Brasília)</span>\n        </td>\n      </tr>\n      <tr>\n        <td style=\"text-align:center;\">\n          <span style=\"font-size:11px;color:#D1D5DB;\">Você recebeu este e-mail porque preencheu o formulário de contato da JPX Digital. Em conformidade com a LGPD, seus dados são tratados exclusivamente para fins de atendimento.</span>\n        </td>\n      </tr>\n    </table>\n  </td></tr>\n\n</table>\n</td></tr>\n</table>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    toEmail: body.email,\n    subject: 'Recebemos seu contato, ' + firstName + ' — JPX Digital',\n    emailHtml: html,\n    name: name,\n    email: body.email,\n    phone: body.phone || '',\n    interest: interest,\n    message: interest,\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Enviar via Zoho SMTP",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        900,
        300
      ],
      "webhookId": "d1d71f7d-4319-4734-8b30-b91028b7b63c",
      "parameters": {
        "html": "={{ $json.emailHtml }}",
        "subject": "={{ $json.subject }}",
        "toEmail": "={{ $json.toEmail }}",
        "fromEmail": "comercial@jpxdigital.com.br",
        "emailFormat": "html"
      },
      "credentials": {
        "smtp": {
          "id": "WgJQhvWq8zsqFbSW",
          "name": "Resend SMTP"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "Validar Auth",
      "type": "n8n-nodes-base.code",
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "const secret = $input.first().json.headers?.['x-internal-secret'];\nif (secret !== 'jDzWqKxTnclRz-AkkKkEGccJsHc6viaOkLoJvXUa_cI') {\n  throw new Error('Unauthorized: x-internal-secret inválido');\n}\nreturn $input.all();"
      },
      "typeVersion": 2
    },
    {
      "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
      "name": "Notificar Telegram JPX",
      "type": "n8n-nodes-base.telegram",
      "position": [
        900,
        460
      ],
      "webhookId": "bee14f96-0ec9-4409-999d-39f1337aea50",
      "parameters": {
        "text": "=🔔 *Novo lead no site!*\n\n👤 *Nome:* {{ $json.name }}\n📧 *E-mail:* {{ $json.email }}\n📱 *Telefone:* {{ $json.phone }}\n💼 *Interesse:* {{ $json.interest }}\n💬 *Mensagem:* {{ $json.message }}",
        "chatId": "8384975992",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "GhT4VtdGZs9ElIrA",
          "name": "Telegram JPX Bot"
        }
      },
      "typeVersion": 1.2
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validar Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Auth": {
      "main": [
        [
          {
            "node": "Montar E-mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar E-mail": {
      "main": [
        [
          {
            "node": "Enviar via Zoho SMTP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notificar Telegram JPX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}