n8n-workflows/boas-vindas.json
{
  "name": "Boas-vindas — Lead JPX Digital",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jpx-lead",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "jpx-lead-boas-vindas"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst name = (body.name || '').trim();\nconst firstName = name.split(' ')[0] || 'Cliente';\nconst interest = (body.interest || '').trim();\n\nlet interestBox = '';\nif (interest) {\n  interestBox = '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 0 24px;\">'\n    + '<tr><td style=\"background:#1C1C21;border-left:3px solid #0078D4;border-radius:0 8px 8px 0;padding:14px 18px;\">'\n    + '<p style=\"margin:0 0 4px;color:#9297A1;font-size:11px;font-weight:700;text-transform:uppercase;letter-spacing:1.5px;\">Assunto do seu contato</p>'\n    + '<p style=\"margin:0;color:#F0F0F3;font-size:15px;font-weight:600;\">' + interest + '</p>'\n    + '</td></tr></table>';\n}\n\nconst html = '<!DOCTYPE html>'\n  + '<html lang=\"pt-BR\"><head>'\n  + '<meta charset=\"UTF-8\">'\n  + '<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">'\n  + '</head>'\n  + '<body style=\"margin:0;padding:0;background:#0C0C0F;font-family:Arial,Helvetica,sans-serif;\">'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#0C0C0F;padding:40px 16px;\">'\n  + '<tr><td align=\"center\">'\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:560px;\">'\n\n  + '<tr><td style=\"padding:0 0 32px;text-align:center;\">'\n  + '<span style=\"color:#F0F0F3;font-size:28px;font-weight:700;letter-spacing:0.5px;font-family:Arial,sans-serif;\">JPX</span>'\n  + '<span style=\"color:#F0F0F3;font-size:28px;font-weight:700;font-family:Arial,sans-serif;\"> Digital</span>'\n  + '</td></tr>'\n\n  + '<tr><td style=\"background:#16161A;border:1px solid rgba(255,255,255,0.08);border-radius:16px;padding:40px;\">'\n\n  + '<h2 style=\"margin:0 0 12px;color:#F0F0F3;font-size:22px;font-weight:700;\">Ol\\u00e1, ' + firstName + '! &#128075;</h2>'\n  + '<p style=\"margin:0 0 24px;color:#9297A1;font-size:15px;line-height:1.75;\">Ficamos felizes com o seu interesse na <span style=\"color:#F0F0F3;font-weight:600;\">JPX Digital</span>. Recebemos seu contato e nossa equipe vai retornar em breve &mdash; normalmente em at\\u00e9 <span style=\"color:#0078D4;font-weight:600;\">1 dia \\u00fatil</span>.</p>'\n\n  + interestBox\n\n  + '<p style=\"margin:0 0 28px;color:#9297A1;font-size:15px;line-height:1.75;\">Precisa de uma resposta mais r\\u00e1pida? Nos chame pelo WhatsApp.</p>'\n\n  + '<table cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 0 36px;\">'\n  + '<tr><td style=\"background:#0078D4;border-radius:8px;\">'\n  + '<a href=\"https://wa.me/5518930852246\" target=\"_blank\" style=\"display:inline-block;padding:13px 28px;color:#ffffff;font-size:14px;font-weight:700;text-decoration:none;\">&#128172; Falar no WhatsApp</a>'\n  + '</td></tr></table>'\n\n  + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-top:1px solid rgba(255,255,255,0.08);padding-top:28px;margin-top:4px;\">'\n  + '<tr>'\n  + '<td width=\"48%\" style=\"background:#1C1C21;border:1px solid rgba(255,255,255,0.08);border-radius:10px;padding:16px;vertical-align:top;\">'\n  + '<p style=\"margin:0 0 8px;font-size:22px;\">&#128274;</p>'\n  + '<p style=\"margin:0 0 4px;color:#F0F0F3;font-size:13px;font-weight:700;\">Seguran\\u00e7a Gerenciada</p>'\n  + '<p style=\"margin:0;color:#636875;font-size:12px;line-height:1.5;\">Prote\\u00e7\\u00e3o 24h com Bitdefender</p>'\n  + '</td><td width=\"4%\"></td>'\n  + '<td width=\"48%\" style=\"background:#1C1C21;border:1px solid rgba(255,255,255,0.08);border-radius:10px;padding:16px;vertical-align:top;\">'\n  + '<p style=\"margin:0 0 8px;font-size:22px;\">&#9729;&#65039;</p>'\n  + '<p style=\"margin:0 0 4px;color:#F0F0F3;font-size:13px;font-weight:700;\">Backup em Nuvem</p>'\n  + '<p style=\"margin:0;color:#636875;font-size:12px;line-height:1.5;\">Dados seguros com Datto</p>'\n  + '</td></tr>'\n  + '<tr><td colspan=\"3\" style=\"height:12px;\"></td></tr>'\n  + '<tr>'\n  + '<td width=\"48%\" style=\"background:#1C1C21;border:1px solid rgba(255,255,255,0.08);border-radius:10px;padding:16px;vertical-align:top;\">'\n  + '<p style=\"margin:0 0 8px;font-size:22px;\">&#129302;</p>'\n  + '<p style=\"margin:0 0 4px;color:#F0F0F3;font-size:13px;font-weight:700;\">Assistente IA</p>'\n  + '<p style=\"margin:0;color:#636875;font-size:12px;line-height:1.5;\">Suporte inteligente 24/7</p>'\n  + '</td><td width=\"4%\"></td>'\n  + '<td width=\"48%\" style=\"background:#1C1C21;border:1px solid rgba(255,255,255,0.08);border-radius:10px;padding:16px;vertical-align:top;\">'\n  + '<p style=\"margin:0 0 8px;font-size:22px;\">&#9881;&#65039;</p>'\n  + '<p style=\"margin:0 0 4px;color:#F0F0F3;font-size:13px;font-weight:700;\">Automa\\u00e7\\u00e3o</p>'\n  + '<p style=\"margin:0;color:#636875;font-size:12px;line-height:1.5;\">Fluxos inteligentes com n8n</p>'\n  + '</td></tr>'\n  + '</table>'\n\n  + '</td></tr>'\n\n  + '<tr><td style=\"padding:24px 0 0;text-align:center;\">'\n  + '<p style=\"margin:0 0 6px;color:#636875;font-size:12px;\">'\n  + '<a href=\"mailto:jp@jpxdigital.com.br\" style=\"color:#0078D4;text-decoration:none;\">jp@jpxdigital.com.br</a>'\n  + ' &nbsp;&middot;&nbsp; <a href=\"https://jpxdigital.com.br\" style=\"color:#0078D4;text-decoration:none;\">jpxdigital.com.br</a>'\n  + ' &nbsp;&middot;&nbsp; <a href=\"https://wa.me/5518930852246\" style=\"color:#9297A1;text-decoration:none;\">(18) 93085-2246</a>'\n  + '</p>'\n  + '<p style=\"margin:0;color:#636875;font-size:11px;\">Voc\\u00ea recebeu este e-mail porque preencheu o formul\\u00e1rio em jpxdigital.com.br</p>'\n  + '</td></tr>'\n\n  + '</table>'\n  + '</td></tr></table>'\n  + '</body></html>';\n\nreturn [{ json: {\n  toEmail: body.email,\n  subject: 'Recebemos seu contato, ' + firstName + '! — JPX Digital',\n  emailHtml: html,\n} }];"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Montar E-mail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer re_NnfXTf3p_5HNrgX8ENAJcmsxqoXaLkT8F"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "JPX Digital <jp@jpxdigital.com.br>"
            },
            {
              "name": "to",
              "value": "={{ [$json.toEmail] }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.emailHtml }}"
            },
            {
              "name": "reply_to",
              "value": "jp@jpxdigital.com.br"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Enviar via Resend API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Montar E-mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar E-mail": {
      "main": [
        [
          {
            "node": "Enviar via Resend API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
