n8n-workflows/jas-core-intake.json
{
  "name": "jas_core_intake_webhook",
  "active": true,
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook Evolution API",
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        300
      ],
      "webhookId": "jas-intake-webhook",
      "parameters": {
        "path": "jas-intake",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        220,
        80
      ],
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "text",
        "responseBody": "OK"
      },
      "typeVersion": 1
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "É mensagem válida?",
      "type": "n8n-nodes-base.if",
      "position": [
        220,
        300
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-event",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert"
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Extrair e Normalizar",
      "type": "n8n-nodes-base.code",
      "position": [
        440,
        300
      ],
      "parameters": {
        "jsCode": "const payload = $input.first().json;\nconst _raw = payload.body || payload;\nconst data = _raw.data;\n\nif (!data || !data.key || !data.message) {\n  return [];\n}\n\nconst remoteJid = data.key.remoteJid || '';\nconst isGroup = remoteJid.includes('@g.us');\nif (isGroup) return [];\n\nconst phoneRaw = remoteJid.replace('@s.whatsapp.net', '').replace('@lid', '');\nconst phone = '+' + phoneRaw;\n\nconst messageType = data.messageType || '';\nlet text = '';\nif (messageType === 'conversation') {\n  text = data.message.conversation || '';\n} else if (messageType === 'extendedTextMessage') {\n  text = data.message?.extendedTextMessage?.text || '';\n} else {\n  return [];\n}\n\nif (!text.trim()) return [];\n\nreturn [{\n  json: {\n    phone,\n    phone_raw: phoneRaw,\n    text: text.trim(),\n    push_name: data.pushName || 'Visitante',\n    message_id: data.key.id,\n    message_type: messageType,\n    timestamp: new Date().toISOString(),\n    instance: payload.instance || ''\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Checar Duplicata",
      "type": "n8n-nodes-base.postgres",
      "position": [
        660,
        300
      ],
      "parameters": {
        "query": "SELECT COUNT(*)::int as is_dup FROM jas_message_dedup WHERE message_id = '{{$json.message_id}}'",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "e5c4827d-4bd0-4a1c-9504-a4a145d93167",
          "name": "JAS PostgreSQL"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "É mensagem nova?",
      "type": "n8n-nodes-base.if",
      "position": [
        880,
        300
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-dedup",
              "operator": {
                "name": "filter.operator.equals",
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{$json.is_dup}}",
              "rightValue": 0
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Registrar Dedup",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1100,
        180
      ],
      "parameters": {
        "query": "INSERT INTO jas_message_dedup (message_id) VALUES ('{{ $('Extrair e Normalizar').item.json.message_id }}') ON CONFLICT DO NOTHING",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "e5c4827d-4bd0-4a1c-9504-a4a145d93167",
          "name": "JAS PostgreSQL"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Buscar Sessão",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1100,
        360
      ],
      "parameters": {
        "query": "SELECT s.session_id, s.correlation_id, s.estado, s.contexto::text as contexto, (s.session_id IS NOT NULL)::int as session_found FROM (VALUES (1)) t(x) LEFT JOIN jas_sessions s ON s.telefone = '{{ $('Extrair e Normalizar').item.json.phone }}' AND s.human_takeover = false ORDER BY s.ultima_interacao DESC NULLS LAST LIMIT 1",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "e5c4827d-4bd0-4a1c-9504-a4a145d93167",
          "name": "JAS PostgreSQL"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Sessão nova?",
      "type": "n8n-nodes-base.if",
      "position": [
        1320,
        360
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-session",
              "operator": {
                "name": "filter.operator.equals",
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{$json.session_found}}",
              "rightValue": 0
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "Criar Sessão",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1540,
        220
      ],
      "parameters": {
        "query": "INSERT INTO jas_sessions (correlation_id, telefone, estado, push_name, ultima_interacao, workflow_atual) VALUES (jas_generate_correlation_id(), '{{ $('Extrair e Normalizar').item.json.phone }}', 'NEW', '{{ $('Extrair e Normalizar').item.json.push_name }}', NOW(), 'jas_core_level0_welcome') RETURNING session_id, correlation_id",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "e5c4827d-4bd0-4a1c-9504-a4a145d93167",
          "name": "JAS PostgreSQL"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000011",
      "name": "Buscar Contato HubSpot",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1760,
        300
      ],
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/search",
        "method": "POST",
        "options": {
          "timeout": 30000
        },
        "jsonBody": "={\n  \"filterGroups\": [{\n    \"filters\": [{\n      \"propertyName\": \"phone\",\n      \"operator\": \"EQ\",\n      \"value\": \"{{ $('Extrair e Normalizar').item.json.phone }}\"\n    }]\n  }],\n  \"properties\": [\"firstname\", \"lastname\", \"email\", \"phone\", \"company\", \"hs_object_id\"]\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.JAS_HUBSPOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "typeVersion": 4.1
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000012",
      "name": "Contato novo?",
      "type": "n8n-nodes-base.if",
      "position": [
        1980,
        300
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-hubspot",
              "operator": {
                "name": "filter.operator.equals",
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.total }}",
              "rightValue": 0
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000013",
      "name": "Enviar Boas-vindas",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2200,
        180
      ],
      "parameters": {
        "url": "={{ $vars.JAS_EVOLUTION_URL }}/send",
        "method": "POST",
        "options": {
          "timeout": 20000
        },
        "jsonBody": "={\n  \"number\": \"{{ $('Extrair e Normalizar').item.json.phone_raw }}\",\n  \"text\": \"Olá! Seja bem-vindo à JPX Digital Tecnologia.\\n\\nSomos uma consultoria boutique especializada em Cloud, Resiliência Cibernética, Continuidade Operacional e Infraestrutura Crítica.\\n\\nPara direcionarmos seu atendimento, escolha uma opção:\\n\\n1️⃣ Assessment Executivo\\n2️⃣ Cloud e Modernização\\n3️⃣ Backup e Disaster Recovery\\n4️⃣ FinOps\\n5️⃣ Segurança e Resiliência\\n6️⃣ Falar com um especialista\"\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.JAS_EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "typeVersion": 4.1
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000014",
      "name": "Criar Contato HubSpot",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2420,
        180
      ],
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "method": "POST",
        "options": {
          "timeout": 30000
        },
        "jsonBody": "={\n  \"properties\": {\n    \"firstname\": \"{{ $('Extrair e Normalizar').item.json.push_name }}\",\n    \"phone\": \"{{ $('Extrair e Normalizar').item.json.phone }}\",\n    \"hs_lead_status\": \"NEW\"\n  }\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.JAS_HUBSPOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "typeVersion": 4.1
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000015",
      "name": "Criar Deal HubSpot",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2640,
        180
      ],
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/objects/deals",
        "method": "POST",
        "options": {
          "timeout": 30000
        },
        "jsonBody": "={\n  \"properties\": {\n    \"dealname\": \"{{ $('Extrair e Normalizar').item.json.push_name }} — WhatsApp JAS\",\n    \"pipeline\": \"{{ $vars.JAS_HUBSPOT_PIPELINE_ID }}\",\n    \"dealstage\": \"{{ $vars.JAS_HUBSPOT_STAGE_NEW }}\"\n  },\n  \"associations\": [{\n    \"to\": {\"id\": \"{{ $json.id }}\"},\n    \"types\": [{\"associationCategory\": \"HUBSPOT_DEFINED\", \"associationTypeId\": 3}]\n  }]\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.JAS_HUBSPOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "typeVersion": 4.1
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000016",
      "name": "Notificar João — Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2860,
        300
      ],
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $vars.JAS_TELEGRAM_BOT_TOKEN }}/sendMessage",
        "method": "POST",
        "options": {
          "timeout": 15000
        },
        "jsonBody": "={\n  \"chat_id\": \"{{ $vars.JAS_TELEGRAM_CHAT_ID }}\",\n  \"parse_mode\": \"HTML\",\n  \"text\": \"🔔 <b>Novo lead — JAS</b>\\n\\n<b>Nome:</b> {{ $('Extrair e Normalizar').item.json.push_name }}\\n<b>Telefone:</b> {{ $('Extrair e Normalizar').item.json.phone }}\\n<b>Primeira mensagem:</b> {{ $('Extrair e Normalizar').item.json.text }}\\n\\n<b>Correlation ID:</b> {{ $('Resolver Sessão').item.json.correlation_id }}\\n<b>Status:</b> Boas-vindas enviadas — aguardando resposta ao menu\"\n}",
        "sendBody": true,
        "specifyBody": "json"
      },
      "typeVersion": 4.1
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000017",
      "name": "Log Eventos",
      "type": "n8n-nodes-base.postgres",
      "position": [
        3080,
        300
      ],
      "parameters": {
        "query": "INSERT INTO jas_events (correlation_id, session_id, event_type, payload) VALUES ('{{ $('Resolver Sessão').item.json.correlation_id }}', '{{ $('Resolver Sessão').item.json.session_id }}'::uuid, 'MESSAGE_RECEIVED', '{\"phone\": \"{{ $('Extrair e Normalizar').item.json.phone }}\", \"text\": \"{{ $('Extrair e Normalizar').item.json.text }}\", \"message_id\": \"{{ $('Extrair e Normalizar').item.json.message_id }}\"}'); INSERT INTO jas_events (correlation_id, session_id, event_type, payload) VALUES ('{{ $('Resolver Sessão').item.json.correlation_id }}', '{{ $('Resolver Sessão').item.json.session_id }}'::uuid, 'LEVEL_0_EXECUTED', '{\"action\": \"welcome_sent\"}');",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "e5c4827d-4bd0-4a1c-9504-a4a145d93167",
          "name": "JAS PostgreSQL"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000018",
      "name": "Ignorar",
      "type": "n8n-nodes-base.noOp",
      "position": [
        440,
        520
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000019",
      "name": "Resolver Sessão",
      "type": "n8n-nodes-base.code",
      "position": [
        1760,
        140
      ],
      "parameters": {
        "jsCode": "// Normaliza dados da sessão independente do caminho executado\nlet correlation_id, session_id, estado, contexto;\ntry {\n  const s = $('Criar Sessão').item.json;\n  correlation_id = s.correlation_id;\n  session_id     = s.session_id;\n  estado         = s.estado;\n  contexto       = s.contexto;\n} catch(e) {\n  const s = $('Buscar Sessão').item.json;\n  correlation_id = s.correlation_id;\n  session_id     = s.session_id;\n  estado         = s.estado;\n  contexto       = s.contexto;\n}\nreturn [{ json: { correlation_id, session_id, estado, contexto } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000020",
      "name": "É do proprietário?",
      "type": "n8n-nodes-base.if",
      "position": [
        820,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "owner-phone-check",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.phone_raw }}",
              "rightValue": "={{ $vars.JAS_OWNER_PHONE }}"
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000021",
      "name": "Autenticar request",
      "type": "n8n-nodes-base.if",
      "position": [
        220,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "webhook-secret-check",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.headers['x-jas-secret'] }}",
              "rightValue": "={{ $vars.JAS_WEBHOOK_SECRET }}"
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "intake-estado-check",
      "name": "Verificar Estado",
      "type": "n8n-nodes-base.if",
      "position": [
        1500,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-new",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.estado }}",
              "rightValue": "NEW"
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "intake-processar-estado",
      "name": "Processar Estado",
      "type": "n8n-nodes-base.code",
      "position": [
        1500,
        500
      ],
      "parameters": {
        "jsCode": "const session = $('Resolver Sessão').item.json;\nconst norm    = $('Extrair e Normalizar').item.json;\nconst phone_raw = norm.phone_raw;\nconst rawText   = (norm.text || '').trim();\nconst text      = rawText.toLowerCase();\nconst estado    = session.estado || 'MENU';\nconst pushName  = norm.push_name || 'visitante';\nconst sessionId = session.session_id;\n\nconst calUrl = $vars.JAS_CALCOM_LINK_ASSESSMENT || 'https://cal.com/jpxdigital';\nconst MENU_MSG = 'Para direcionarmos seu atendimento, escolha uma opção:\\n\\n1️⃣ Assessment Executivo\\n2️⃣ Cloud e Modernização\\n3️⃣ Backup e Disaster Recovery\\n4️⃣ FinOps\\n5️⃣ Segurança e Resiliência\\n6️⃣ Falar com um especialista';\n\nlet resposta = '';\nlet novoEstado = estado;\nlet contextoObj = {};\nlet notificarDono = false;\n\nif (estado === 'MENU') {\n  const match1 = /^1$|assessment/i.test(text);\n  const match2 = /^2$|cloud|moderni/i.test(text);\n  const match3 = /^3$|backup|disaster|recovery/i.test(text);\n  const match4 = /^4$|finops|fin ops|custo|cloud cost/i.test(text);\n  const match5 = /^5$|seguran|resili|cibern/i.test(text);\n  const match6 = /^6$|especialista|falar|humano/i.test(text);\n\n  if (match6) {\n    resposta = 'Entendido, ' + pushName + '! 👤 Vou notificar o João Martins agora.\\n\\nEle entrará em contato pessoalmente em breve. Aguarde!';\n    novoEstado = 'HUMAN_TAKEOVER';\n    contextoObj = { servico: 'Especialista' };\n    notificarDono = true;\n  } else {\n    const servicoMap = [\n      [match1, 'Assessment Executivo'],\n      [match2, 'Cloud e Modernização'],\n      [match3, 'Backup e Disaster Recovery'],\n      [match4, 'FinOps'],\n      [match5, 'Segurança e Resiliência']\n    ];\n    const found = servicoMap.find(function(s){ return s[0]; });\n    if (found) {\n      const servico = found[1];\n      resposta = 'Ótima escolha! Você selecionou *' + servico + '*. ✅\\n\\nO João Martins oferece um *Assessment Executivo gratuito* de 30 minutos — ele analisa seu cenário e já apresenta recomendações práticas.\\n\\nGostaria de agendar agora? Responda *sim* para receber o link. 📅';\n      novoEstado = 'AGENDAMENTO';\n      contextoObj = { servico: servico };\n    } else {\n      resposta = 'Desculpe, não entendi sua escolha. 😊\\n\\n' + MENU_MSG;\n    }\n  }\n\n} else if (estado === 'AGENDAMENTO') {\n  if (/^s$|^sim$|^quero$|^ok$|^yes$|^claro$|^pode$|^vamos$|^bora$/.test(text)) {\n    resposta = 'Perfeito! Aqui está o link para escolher o horário:\\n\\n👉 ' + calUrl + '\\n\\nO João está aguardando você! 😊';\n    novoEstado = 'LINK_ENVIADO';\n  } else if (/^n$|^nao$|^não$|^no$/.test(text)) {\n    resposta = 'Sem problema! Quando quiser agendar, é só responder *sim* aqui. 😊';\n  } else {\n    resposta = 'Para agendar seu Assessment gratuito, responda *sim*.\\nCaso prefira não agendar agora, responda *não*. 📅';\n  }\n\n} else if (estado === 'LINK_ENVIADO') {\n  resposta = 'Obrigado pelo contato, ' + pushName + '! 😊 O João aguarda você no horário escolhido.\\n\\nQualquer dúvida antes da reunião, é só falar aqui!';\n\n} else if (estado === 'HUMAN_TAKEOVER') {\n  resposta = 'Olá, ' + pushName + '! O João Martins foi notificado e entrará em contato em breve. 🤝\\n\\nAgradecemos sua paciência!';\n\n} else {\n  resposta = '';\n}\n\nconst resposta_safe = resposta ? JSON.stringify(resposta).slice(1, -1) : '';\nconst contexto_str  = JSON.stringify(contextoObj);\n\nreturn [{ json: {\n  push_name,\n  phone_raw,\n  session_id:     sessionId,\n  estado_atual:   estado,\n  novo_estado:    novoEstado,\n  contexto_str,\n  resposta,\n  resposta_safe,\n  enviar:         resposta !== '',\n  notificar_dono: notificarDono\n}}];"
      },
      "typeVersion": 2
    },
    {
      "id": "intake-tem-resposta",
      "name": "Tem resposta?",
      "type": "n8n-nodes-base.if",
      "position": [
        1720,
        500
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-enviar",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.enviar }}"
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "intake-responder-lead",
      "name": "Responder Lead",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [
        1940,
        400
      ],
      "parameters": {
        "url": "={{ $vars.JAS_EVOLUTION_URL }}/send",
        "method": "POST",
        "options": {
          "timeout": 20000
        },
        "jsonBody": "={\n  \"number\": \"{{ $json.phone_raw }}\",\n  \"text\": \"{{ $json.resposta_safe }}\"\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.JAS_EVOLUTION_API_KEY }}"
            }
          ]
        }
      },
      "typeVersion": 4.1
    },
    {
      "id": "intake-atualizar-sessao",
      "name": "Atualizar Sessão",
      "type": "n8n-nodes-base.postgres",
      "onError": "continueRegularOutput",
      "position": [
        1940,
        600
      ],
      "parameters": {
        "query": "UPDATE jas_sessions SET estado = '{{ $('Processar Estado').item.json.novo_estado }}', contexto = contexto || '{{ $('Processar Estado').item.json.contexto_str }}'::jsonb, ultima_interacao = NOW(), atualizado_em = NOW() WHERE session_id = '{{ $('Processar Estado').item.json.session_id }}'",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "e5c4827d-4bd0-4a1c-9504-a4a145d93167",
          "name": "JAS PostgreSQL"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "intake-atualizar-menu",
      "name": "Atualizar Estado MENU",
      "type": "n8n-nodes-base.postgres",
      "onError": "continueRegularOutput",
      "position": [
        2800,
        300
      ],
      "parameters": {
        "query": "UPDATE jas_sessions SET estado = 'MENU', ultima_interacao = NOW(), atualizado_em = NOW() WHERE session_id = '{{ $('Resolver Sessão').item.json.session_id }}'",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "e5c4827d-4bd0-4a1c-9504-a4a145d93167",
          "name": "JAS PostgreSQL"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "intake-is-human-takeover",
      "name": "É HUMAN_TAKEOVER?",
      "type": "n8n-nodes-base.if",
      "position": [
        2160,
        500
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-human-takeover",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.novo_estado }}",
              "rightValue": "HUMAN_TAKEOVER"
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "intake-telegram-human-takeover",
      "name": "Notificar João — HUMAN_TAKEOVER",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [
        2380,
        400
      ],
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $vars.JAS_TELEGRAM_BOT_TOKEN }}/sendMessage",
        "method": "POST",
        "options": {
          "timeout": 10000
        },
        "jsonBody": "={\n  \"chat_id\": \"{{ $vars.JAS_TELEGRAM_CHAT_ID }}\",\n  \"text\": \"🚨 Lead solicitou atendimento humano!\\n\\n👤 Nome: {{ $json.push_name }}\\n📱 Telefone: +{{ $json.phone_raw }}\\n💼 Interesse: {{ $json.contexto_str }}\\n\\nAcesse o HubSpot e entre em contato pessoalmente.\"\n}",
        "sendBody": true,
        "specifyBody": "json"
      },
      "typeVersion": 4.1
    }
  ],
  "connections": {
    "Contato novo?": {
      "main": [
        [
          {
            "node": "Enviar Boas-vindas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar João — Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Sessão": {
      "main": [
        [
          {
            "node": "Resolver Sessão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sessão nova?": {
      "main": [
        [
          {
            "node": "Criar Sessão",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resolver Sessão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem resposta?": {
      "main": [
        [
          {
            "node": "Responder Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualizar Sessão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Sessão": {
      "main": [
        [
          {
            "node": "Sessão nova?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Lead": {
      "main": [
        [
          {
            "node": "Atualizar Sessão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Dedup": {
      "main": [
        [
          {
            "node": "Buscar Sessão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checar Duplicata": {
      "main": [
        [
          {
            "node": "É mensagem nova?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Estado": {
      "main": [
        [
          {
            "node": "Tem resposta?",
            "type": "main",
            "index": 0
          },
          {
            "node": "É HUMAN_TAKEOVER?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolver Sessão": {
      "main": [
        [
          {
            "node": "Verificar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Estado": {
      "main": [
        [
          {
            "node": "Buscar Contato HubSpot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Processar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Sessão": {
      "main": [
        []
      ]
    },
    "É mensagem nova?": {
      "main": [
        [
          {
            "node": "Registrar Dedup",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Autenticar request": {
      "main": [
        [
          {
            "node": "É mensagem válida?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Deal HubSpot": {
      "main": [
        [
          {
            "node": "Notificar João — Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Boas-vindas": {
      "main": [
        [
          {
            "node": "Criar Contato HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É HUMAN_TAKEOVER?": {
      "main": [
        [
          {
            "node": "Notificar João — HUMAN_TAKEOVER",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Extrair e Normalizar": {
      "main": [
        [
          {
            "node": "É do proprietário?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É do proprietário?": {
      "main": [
        [
          {
            "node": "Ignorar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Checar Duplicata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É mensagem válida?": {
      "main": [
        [
          {
            "node": "Extrair e Normalizar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Estado MENU": {
      "main": [
        [
          {
            "node": "Log Eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Contato HubSpot": {
      "main": [
        [
          {
            "node": "Criar Deal HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Evolution API": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Autenticar request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contato HubSpot": {
      "main": [
        [
          {
            "node": "Contato novo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar João — Telegram": {
      "main": [
        [
          {
            "node": "Atualizar Estado MENU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-07-03T13:16:24.786+00:00",
  "updatedAt": "2026-07-03T13:17:43.678+00:00",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": null,
  "versionId": "100c878e-dd8a-40b9-9fa2-27448d3392e7",
  "triggerCount": 1,
  "id": "jas-core-intake-v1-0",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "jas"
  },
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 23,
  "description": null,
  "activeVersionId": "100c878e-dd8a-40b9-9fa2-27448d3392e7",
  "nodeGroups": []
}