n8n-workflows/jas-qa-scenario-002.json
{
  "name": "JAS QA — Cenário 002 Agendamento",
  "active": true,
  "nodes": [
    {
      "id": "qa002-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 3,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "qa002-webhook",
      "name": "Webhook Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [0, 500],
      "webhookId": "qa002-manual-webhook",
      "parameters": {
        "path": "jas-qa-run-002",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "typeVersion": 2
    },
    {
      "id": "qa002-definir",
      "name": "Definir Teste",
      "type": "n8n-nodes-base.code",
      "position": [220, 300],
      "parameters": {
        "jsCode": "const ts = Date.now();\nreturn [{ json: {\n  test_phone: '+5500000000002',\n  test_phone_raw: '5500000000002',\n  scenario_id: 'QA-002',\n  started_at: new Date().toISOString(),\n  msg_id_1: 'QA002_' + ts + '_1',\n  msg_id_2: 'QA002_' + ts + '_2',\n  msg_id_3: 'QA002_' + ts + '_3'\n}}];"
      },
      "typeVersion": 2
    },
    {
      "id": "qa002-smoke-db",
      "name": "Smoke DB",
      "type": "n8n-nodes-base.postgres",
      "onError": "continueRegularOutput",
      "position": [440, 300],
      "parameters": {
        "query": "SELECT 1 as ok",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "e5c4827d-4bd0-4a1c-9504-a4a145d93167",
          "name": "JAS PostgreSQL"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "qa002-smoke-hs",
      "name": "Smoke HubSpot",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [660, 300],
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/owners?limit=1",
        "method": "GET",
        "options": {"timeout": 10000},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $vars.JAS_HUBSPOT_TOKEN }}"}
          ]
        }
      },
      "typeVersion": 4.1
    },
    {
      "id": "qa002-smoke-tg",
      "name": "Smoke Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [880, 300],
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $vars.JAS_TELEGRAM_BOT_TOKEN }}/getMe",
        "method": "GET",
        "options": {"timeout": 10000}
      },
      "typeVersion": 4.1
    },
    {
      "id": "qa002-smoke-eval",
      "name": "Avaliar Smoke",
      "type": "n8n-nodes-base.code",
      "position": [1100, 300],
      "parameters": {
        "jsCode": "let failures = [];\nlet details = {};\n\ntry {\n  const db = $('Smoke DB').item.json;\n  details.db = (db.ok === 1 || db.ok === '1') ? 'OK' : 'FAIL';\n  if (details.db !== 'OK') failures.push('PostgreSQL');\n} catch(e) { failures.push('PostgreSQL'); details.db = 'ERROR'; }\n\ntry {\n  const hs = $('Smoke HubSpot').item.json;\n  details.hubspot = (hs.results !== undefined) ? 'OK' : 'FAIL';\n  if (details.hubspot !== 'OK') failures.push('HubSpot');\n} catch(e) { failures.push('HubSpot'); details.hubspot = 'ERROR'; }\n\ntry {\n  const tg = $('Smoke Telegram').item.json;\n  details.telegram = (tg.ok === true) ? 'OK' : 'FAIL';\n  if (details.telegram !== 'OK') failures.push('Telegram');\n} catch(e) { failures.push('Telegram'); details.telegram = 'ERROR'; }\n\nconst smoke_pass = failures.length === 0;\nconst definir = $('Definir Teste').item.json;\n\nconst abort_msg = failures.length > 0\n  ? ('QA ABORTADO\\nServicos indisponiveis: ' + failures.join(', '))\n  : 'OK';\nconst abort_msg_safe = JSON.stringify(abort_msg).slice(1, -1);\n\nreturn [{ json: { ...definir, smoke_pass, smoke_failures: failures, smoke_details: details, abort_msg_safe } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "qa002-smoke-if",
      "name": "Smoke passou?",
      "type": "n8n-nodes-base.if",
      "position": [1320, 300],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "typeValidation": "strict"},
          "combinator": "and",
          "conditions": [
            {
              "id": "smoke-pass-check",
              "operator": {"type": "boolean", "operation": "true"},
              "leftValue": "={{ $json.smoke_pass }}"
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "qa002-smoke-abort",
      "name": "Abortar QA",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1540, 480],
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $vars.JAS_TELEGRAM_BOT_TOKEN }}/sendMessage",
        "method": "POST",
        "options": {"timeout": 15000},
        "jsonBody": "={\n  \"chat_id\": \"{{ $vars.JAS_TELEGRAM_CHAT_ID }}\",\n  \"parse_mode\": \"HTML\",\n  \"text\": \"{{ $json.abort_msg_safe }}\"\n}",
        "sendBody": true,
        "specifyBody": "json"
      },
      "typeVersion": 4.1
    },
    {
      "id": "qa002-msg1",
      "name": "Simular Oi (boas-vindas)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1540, 300],
      "parameters": {
        "url": "http://n8n:5678/webhook/jas-intake",
        "method": "POST",
        "options": {"timeout": 30000},
        "jsonBody": "={\n  \"event\": \"messages.upsert\",\n  \"instance\": \"jpx-jas\",\n  \"data\": {\n    \"key\": {\n      \"remoteJid\": \"5500000000002@s.whatsapp.net\",\n      \"fromMe\": false,\n      \"id\": \"{{ $json.msg_id_1 }}\"\n    },\n    \"message\": {\"conversation\": \"Oi\"},\n    \"messageType\": \"conversation\",\n    \"pushName\": \"JAS QA Bot\",\n    \"messageTimestamp\": 1720000001\n  }\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "x-jas-secret", "value": "={{ $vars.JAS_WEBHOOK_SECRET }}"}
          ]
        }
      },
      "typeVersion": 4.1
    },
    {
      "id": "qa002-wait1",
      "name": "Aguardar Boas-vindas (15s)",
      "type": "n8n-nodes-base.code",
      "position": [1760, 300],
      "parameters": {
        "jsCode": "await new Promise(function(r){setTimeout(r,15000)});\nreturn $input.all();"
      },
      "typeVersion": 2
    },
    {
      "id": "qa002-msg2",
      "name": "Simular Opcao 1 (Assessment)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1980, 300],
      "parameters": {
        "url": "http://n8n:5678/webhook/jas-intake",
        "method": "POST",
        "options": {"timeout": 30000},
        "jsonBody": "={\n  \"event\": \"messages.upsert\",\n  \"instance\": \"jpx-jas\",\n  \"data\": {\n    \"key\": {\n      \"remoteJid\": \"5500000000002@s.whatsapp.net\",\n      \"fromMe\": false,\n      \"id\": \"{{ $('Definir Teste').item.json.msg_id_2 }}\"\n    },\n    \"message\": {\"conversation\": \"1\"},\n    \"messageType\": \"conversation\",\n    \"pushName\": \"JAS QA Bot\",\n    \"messageTimestamp\": 1720000002\n  }\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "x-jas-secret", "value": "={{ $vars.JAS_WEBHOOK_SECRET }}"}
          ]
        }
      },
      "typeVersion": 4.1
    },
    {
      "id": "qa002-wait2",
      "name": "Aguardar Agendamento (8s)",
      "type": "n8n-nodes-base.code",
      "position": [2200, 300],
      "parameters": {
        "jsCode": "await new Promise(function(r){setTimeout(r,8000)});\nreturn $input.all();"
      },
      "typeVersion": 2
    },
    {
      "id": "qa002-msg3",
      "name": "Simular Sim (link)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2420, 300],
      "parameters": {
        "url": "http://n8n:5678/webhook/jas-intake",
        "method": "POST",
        "options": {"timeout": 30000},
        "jsonBody": "={\n  \"event\": \"messages.upsert\",\n  \"instance\": \"jpx-jas\",\n  \"data\": {\n    \"key\": {\n      \"remoteJid\": \"5500000000002@s.whatsapp.net\",\n      \"fromMe\": false,\n      \"id\": \"{{ $('Definir Teste').item.json.msg_id_3 }}\"\n    },\n    \"message\": {\"conversation\": \"sim\"},\n    \"messageType\": \"conversation\",\n    \"pushName\": \"JAS QA Bot\",\n    \"messageTimestamp\": 1720000003\n  }\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "x-jas-secret", "value": "={{ $vars.JAS_WEBHOOK_SECRET }}"}
          ]
        }
      },
      "typeVersion": 4.1
    },
    {
      "id": "qa002-wait3",
      "name": "Aguardar Link (8s)",
      "type": "n8n-nodes-base.code",
      "position": [2640, 300],
      "parameters": {
        "jsCode": "await new Promise(function(r){setTimeout(r,8000)});\nreturn $input.all();"
      },
      "typeVersion": 2
    },
    {
      "id": "qa002-verifica-db",
      "name": "Verificar Estado DB",
      "type": "n8n-nodes-base.postgres",
      "position": [2860, 300],
      "parameters": {
        "query": "SELECT\n  (SELECT COUNT(*)::int FROM jas_sessions WHERE telefone = '+5500000000002' AND estado = 'LINK_ENVIADO') as link_enviado_ok,\n  (SELECT COUNT(*)::int FROM jas_sessions WHERE telefone = '+5500000000002') as session_ok,\n  (SELECT COUNT(*)::int FROM jas_events WHERE session_id IN (SELECT session_id FROM jas_sessions WHERE telefone = '+5500000000002')) as events_count,\n  (SELECT COUNT(*)::int FROM jas_message_dedup WHERE message_id LIKE 'QA002_%') as dedup_count",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "e5c4827d-4bd0-4a1c-9504-a4a145d93167",
          "name": "JAS PostgreSQL"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "qa002-resultado",
      "name": "Calcular Resultado",
      "type": "n8n-nodes-base.code",
      "position": [3080, 300],
      "parameters": {
        "jsCode": "const definir = $('Definir Teste').item.json;\nconst db = $('Verificar Estado DB').item.json;\nconst started = new Date(definir.started_at);\nconst elapsed = ((Date.now() - started.getTime()) / 1000).toFixed(1);\n\nconst checks = [\n  ['Sessao criada (DB)', (db.session_ok || 0) >= 1],\n  ['Estado = LINK_ENVIADO', (db.link_enviado_ok || 0) >= 1],\n  ['Evento registrado (min 1)', (db.events_count || 0) >= 1],\n  ['3 mensagens dedupadas', (db.dedup_count || 0) >= 3]\n];\n\nconst passed = checks.filter(function(c) { return c[1]; }).length;\nconst failed = checks.length - passed;\nconst ok = failed === 0;\n\nconst lines = [];\nlines.push('<b>JAS-QA</b> Cenario 002');\nlines.push('<b>STATUS: ' + (ok ? 'PASS ✅' : 'FAIL ❌') + '</b> Tempo: ' + elapsed + 's (' + passed + '/' + checks.length + ')');\nfor (var i = 0; i < checks.length; i++) {\n  lines.push((checks[i][1] ? '☑' : '☒') + ' ' + checks[i][0]);\n}\nif (failed > 0) { lines.push('⚠️ Verificar execucoes n8n'); }\n\nconst report_tg = lines.join('\\n');\nconst report_safe = JSON.stringify(report_tg).slice(1, -1);\nreturn [{ json: { report: report_tg, report_safe: report_safe, status: ok ? 'PASS' : 'FAIL', passed: passed, failed: failed, elapsed: elapsed } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "qa002-limpeza",
      "name": "Limpeza DB",
      "type": "n8n-nodes-base.postgres",
      "onError": "continueRegularOutput",
      "position": [3300, 300],
      "parameters": {
        "query": "DELETE FROM jas_events WHERE session_id IN (SELECT session_id FROM jas_sessions WHERE telefone = '+5500000000002'); DELETE FROM jas_sessions WHERE telefone = '+5500000000002'; DELETE FROM jas_message_dedup WHERE message_id LIKE 'QA002_%';",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "e5c4827d-4bd0-4a1c-9504-a4a145d93167",
          "name": "JAS PostgreSQL"
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "qa002-telegram",
      "name": "Enviar Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "position": [3520, 300],
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $vars.JAS_TELEGRAM_BOT_TOKEN }}/sendMessage",
        "method": "POST",
        "options": {"timeout": 15000},
        "jsonBody": "={\n  \"chat_id\": \"{{ $vars.JAS_TELEGRAM_CHAT_ID }}\",\n  \"parse_mode\": \"HTML\",\n  \"text\": \"{{ $('Calcular Resultado').item.json.report_safe }}\"\n}",
        "sendBody": true,
        "specifyBody": "json"
      },
      "typeVersion": 4.1
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Definir Teste", "type": "main", "index": 0}]]
    },
    "Webhook Manual Trigger": {
      "main": [[{"node": "Definir Teste", "type": "main", "index": 0}]]
    },
    "Definir Teste": {
      "main": [[{"node": "Smoke DB", "type": "main", "index": 0}]]
    },
    "Smoke DB": {
      "main": [[{"node": "Smoke HubSpot", "type": "main", "index": 0}]]
    },
    "Smoke HubSpot": {
      "main": [[{"node": "Smoke Telegram", "type": "main", "index": 0}]]
    },
    "Smoke Telegram": {
      "main": [[{"node": "Avaliar Smoke", "type": "main", "index": 0}]]
    },
    "Avaliar Smoke": {
      "main": [[{"node": "Smoke passou?", "type": "main", "index": 0}]]
    },
    "Smoke passou?": {
      "main": [
        [{"node": "Simular Oi (boas-vindas)", "type": "main", "index": 0}],
        [{"node": "Abortar QA", "type": "main", "index": 0}]
      ]
    },
    "Simular Oi (boas-vindas)": {
      "main": [[{"node": "Aguardar Boas-vindas (15s)", "type": "main", "index": 0}]]
    },
    "Aguardar Boas-vindas (15s)": {
      "main": [[{"node": "Simular Opcao 1 (Assessment)", "type": "main", "index": 0}]]
    },
    "Simular Opcao 1 (Assessment)": {
      "main": [[{"node": "Aguardar Agendamento (8s)", "type": "main", "index": 0}]]
    },
    "Aguardar Agendamento (8s)": {
      "main": [[{"node": "Simular Sim (link)", "type": "main", "index": 0}]]
    },
    "Simular Sim (link)": {
      "main": [[{"node": "Aguardar Link (8s)", "type": "main", "index": 0}]]
    },
    "Aguardar Link (8s)": {
      "main": [[{"node": "Verificar Estado DB", "type": "main", "index": 0}]]
    },
    "Verificar Estado DB": {
      "main": [[{"node": "Calcular Resultado", "type": "main", "index": 0}]]
    },
    "Calcular Resultado": {
      "main": [[{"node": "Limpeza DB", "type": "main", "index": 0}]]
    },
    "Limpeza DB": {
      "main": [[{"node": "Enviar Telegram", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null
}
