docs/n8n-cal-booking-workflow.json
{
  "name": "Cal.com — Booking Created",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cal-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-cal",
      "name": "Webhook Cal.com",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 120]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-booking-created",
              "leftValue": "={{ $json.body.triggerEvent }}",
              "rightValue": "BOOKING_CREATED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-booking-created",
      "name": "Somente BOOKING_CREATED",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\nconst attendee = body.payload?.attendees?.[0] || {};\n\nreturn [{\n  json: {\n    name: attendee.name || '',\n    email: attendee.email || '',\n    phone: attendee.phoneNumber || '',\n    eventTitle: body.payload?.title || '',\n    startTime: body.payload?.startTime || '',\n    endTime: body.payload?.endTime || '',\n    bookingUid: body.payload?.uid || '',\n    notes: body.payload?.responses?.notes?.value || body.payload?.description || ''\n  }\n}];"
      },
      "id": "extrair-dados",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{HUBSPOT_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'email', operator: 'EQ', value: $json.email }] }], properties: ['firstname', 'lastname', 'email', 'phone'] }) }}",
        "options": {}
      },
      "id": "buscar-contato",
      "name": "Buscar Contato HubSpot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "contato-existe",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "contato-existe",
      "name": "Contato existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const booking = $('Extrair Dados').first().json;\nconst contactId = $json.results[0].id;\n\nreturn [{ json: { ...booking, contactId, contactExisted: true } }];"
      },
      "id": "pegar-contact-id",
      "name": "Pegar Contact ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{HUBSPOT_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ properties: { firstname: $('Extrair Dados').first().json.name.split(' ')[0], lastname: $('Extrair Dados').first().json.name.split(' ').slice(1).join(' '), email: $('Extrair Dados').first().json.email, phone: $('Extrair Dados').first().json.phone } }) }}",
        "options": {}
      },
      "id": "criar-contato",
      "name": "Criar Contato HubSpot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 440]
    },
    {
      "parameters": {
        "jsCode": "const booking = $('Extrair Dados').first().json;\nconst contactId = $json.id;\n\nreturn [{ json: { ...booking, contactId, contactExisted: false } }];"
      },
      "id": "pegar-novo-contact-id",
      "name": "Pegar Novo Contact ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/deals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{HUBSPOT_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ properties: { dealname: $json.name + ' — Reuniao Cal.com', dealstage: 'appointmentscheduled', pipeline: 'default', closedate: new Date(Date.now() + 30*24*60*60*1000).toISOString().split('T')[0] }, associations: [{ to: { id: $json.contactId }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 3 }] }] }) }}",
        "options": {}
      },
      "id": "criar-deal",
      "name": "Criar Deal HubSpot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "jsCode": "const deal = $json;\nconst booking = $('Extrair Dados').first().json;\n\nreturn [{ json: { ...booking, dealId: deal.id, contactExisted: $input.first().json.contactExisted } }];"
      },
      "id": "montar-telegram",
      "name": "Montar Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "chatId": "8384975992",
        "text": "=Reuniao agendada via Cal.com\n\nNome: {{ $json.name }}\nEmail: {{ $json.email }}\nTelefone: {{ $json.phone || 'nao informado' }}\nEvento: {{ $json.eventTitle }}\nInicio: {{ $json.startTime }}\nObs: {{ $json.notes || 'nenhuma' }}\n\nContato {{ $json.contactExisted ? 'ja existia' : 'criado agora' }} no HubSpot\nDeal ID: {{ $json.dealId }}",
        "additionalFields": {
          "parse_mode": ""
        }
      },
      "id": "telegram",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [2220, 300],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram JPX"
        }
      }
    }
  ],
  "connections": {
    "Webhook Cal.com": {
      "main": [
        [
          { "node": "Respond OK", "type": "main", "index": 0 },
          { "node": "Somente BOOKING_CREATED", "type": "main", "index": 0 }
        ]
      ]
    },
    "Somente BOOKING_CREATED": {
      "main": [
        [{ "node": "Extrair Dados", "type": "main", "index": 0 }]
      ]
    },
    "Extrair Dados": {
      "main": [
        [{ "node": "Buscar Contato HubSpot", "type": "main", "index": 0 }]
      ]
    },
    "Buscar Contato HubSpot": {
      "main": [
        [{ "node": "Contato existe?", "type": "main", "index": 0 }]
      ]
    },
    "Contato existe?": {
      "main": [
        [{ "node": "Pegar Contact ID", "type": "main", "index": 0 }],
        [{ "node": "Criar Contato HubSpot", "type": "main", "index": 0 }]
      ]
    },
    "Pegar Contact ID": {
      "main": [
        [{ "node": "Criar Deal HubSpot", "type": "main", "index": 0 }]
      ]
    },
    "Criar Contato HubSpot": {
      "main": [
        [{ "node": "Pegar Novo Contact ID", "type": "main", "index": 0 }]
      ]
    },
    "Pegar Novo Contact ID": {
      "main": [
        [{ "node": "Criar Deal HubSpot", "type": "main", "index": 0 }]
      ]
    },
    "Criar Deal HubSpot": {
      "main": [
        [{ "node": "Montar Telegram", "type": "main", "index": 0 }]
      ]
    },
    "Montar Telegram": {
      "main": [
        [{ "node": "Telegram", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "versionId": "1"
}
