docs/n8n-hubspot-router-workflow.json
{
  "name": "HubSpot — Deal Stage Router",
  "nodes": [
    {
      "id": "webhook-router",
      "name": "Webhook HubSpot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "hubspot-deals",
        "options": {}
      }
    },
    {
      "id": "if-proposta",
      "name": "Proposta Solicitada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 160],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-proposta",
              "leftValue": "={{ $json.body[0].propertyValue }}",
              "rightValue": "1385066797",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "if-sow",
      "name": "Fechado Ganho?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 440],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-sow",
              "leftValue": "={{ $json.body[0].propertyValue }}",
              "rightValue": "closedwon",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "http-proposta",
      "name": "→ Gerar Proposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 160],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/gerar-proposta",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($('Webhook HubSpot').item.json.body) }}",
        "options": {}
      }
    },
    {
      "id": "http-sow",
      "name": "→ Gerar SOW",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 440],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/gerar-sow",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($('Webhook HubSpot').item.json.body) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook HubSpot": {
      "main": [
        [
          { "node": "Proposta Solicitada?", "type": "main", "index": 0 },
          { "node": "Fechado Ganho?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Proposta Solicitada?": {
      "main": [
        [ { "node": "→ Gerar Proposta", "type": "main", "index": 0 } ],
        []
      ]
    },
    "Fechado Ganho?": {
      "main": [
        [ { "node": "→ Gerar SOW", "type": "main", "index": 0 } ],
        []
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
